.Pokedex {
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content: center;
}

.Pokechamp {
    color:#00fa4f
}

.Pokekarp {
    color:#c92d22
}